        body {
            margin: 0;
        }
        html {
            height: 100%;
            box-sizing: border-box;
        }
        header {
            background-color: rgb(186, 186, 186);
            width: 100%;
            height: 70px;
        }
        #home {
            top: 22px; 
            left: 15px; 
            position: absolute;
        }
        #link {
            color: black; 
            text-decoration-line: none;
        }
        #omProjektet {
            top: 22px; 
            left: 970px; 
            position: absolute;
        }
        #bolig {
            top: 22px; 
            left: 840px; 
            position: absolute;
        }
        #oppussing {
            top: 22px; 
            left: 680px; 
            position: absolute;
        }
        #kontaktOss {
            top: 22px; 
            left: 1140px; 
            position: absolute;
        }
        footer {
            width: 100%;
            height: 80px;
            position: absolute;
            
            background-color: rgb(186, 186, 186);
        }
        #footerText {
            position: absolute;
            left: 30px;
            top: 15px;
        }