        #container {
            margin: 20px;
            position: absolute;
            top: 200px;
            left: 200px;
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
            gap: 150px;
            row-gap: 30px;
        }
        #container div {
            background-color: #f1f1f1;
            border: 1px solid black;
            padding: 10px;
            text-align: center;
            height: 300px;
        }
        #bilde {
            width: 150px;
            height: 150px;
            background-color: rgb(66, 66, 66);
            border: 5px solid black;
        }
        #kart {
            background-color: greenyellow;
            position: absolute;
            left: 350px;
            top: 950px;
            height: 300px;
            width: 500px;
        }
        footer {
            bottom: -1000px;
        }
        #tekst {
            position: absolute;
            width: 450px;
            height: 90px;
            top: 100px;
            left: 375px;
            background-color:rgb(212, 212, 212);
            padding-left: 50px;
            padding-top: 20px;
            padding-right: 20px;
        }
        #adresse {
            position: absolute;
            top: 1240px;
            left: 350px;
        }